.Button {
    border: 2px solid #393d47;
    cursor: pointer;
    height: 41px;
    width: 102px;
    background-color: black;
    position: relative;
    -webkit-box-shadow: 0 0 0 #e595ff, 0 0 48px rgba(130, 26, 250, 0.5);
    box-shadow: 0 0 0 #e595ff, 0 0 48px rgba(130, 26, 250, 0.5);
    overflow: hidden;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;

    p {
        font-weight: 700;
        font-size: 17px;
    }

    .btnCont {
        position: absolute;
        -webkit-transition: top 0.5s;
        -o-transition: top 0.5s;
        transition: top 0.5s;

        .txt {
            width: 100px;
            height: 40px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;

            p {
                margin-bottom: 5px;
            }
        }

        .icon {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            width: 100px;
            height: 40px;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;

            >svg {
                fill: red;
                font-size: 18px;
                margin-bottom: 3px;
            }

            p {
                margin-left: 5px;
                margin-bottom: 3px;
            }
        }
    }

    .open {
        top: -40px;
    }

    .close {
        top: 0px;
    }
}

.btnBorderAnimation {
    position: relative;
    width: 105px;
    height: 45px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

    &::before {
        content: '';
        width: 105px;
        height: 44px;
        position: absolute;
        top: -5;
        left: 0;
        background-image: -webkit-gradient(linear, left bottom, left top, from(#7f00ff), color-stop(#ff00a5), color-stop(#ff1745), color-stop(#ffad00), to(#e1ff00));
        background-image: -o-linear-gradient(bottom, #7f00ff, #ff00a5, #ff1745, #ffad00, #e1ff00);
        background-image: linear-gradient(to right, #7f00ff, #ff00a5, #ff1745, #ffad00, #e1ff00);
        background-size: cover;
        -webkit-transition: -webkit-filter 0.2s;
        transition: -webkit-filter 0.2s;
        -o-transition: filter 0.2s;
        transition: filter 0.2s;
        transition: filter 0.2s, -webkit-filter 0.2s;
        -webkit-animation: rotate 2s infinite linear;
        animation: rotate 1.5s infinite linear;
    }
    &:hover::before {
        -webkit-filter: blur(15px);
        filter: blur(15px);
    }

    @keyframes rotate {
        0% {
            background: linear-gradient(0deg, #7f00ff, #ff00a5, #ff1745, #ffad00, #e1ff00);
        }

        5% {
            background: linear-gradient(30deg, #7f00ff, #ff00a5, #ff1745, #ffad00, #e1ff00);
        }

        10% {
            background: linear-gradient(60deg, #7f00ff, #ff00a5, #ff1745, #ffad00, #e1ff00);
        }

        15% {
            background: linear-gradient(90deg, #7f00ff, #ff00a5, #ff1745, #ffad00, #e1ff00);
        }

        20% {
            background: linear-gradient(120deg, #7f00ff, #ff00a5, #ff1745, #ffad00, #e1ff00);
        }

        25% {
            background: linear-gradient(150deg, #7f00ff, #ff00a5, #ff1745, #ffad00, #e1ff00);
        }

        30% {
            background: linear-gradient(180deg, #7f00ff, #ff00a5, #ff1745, #ffad00, #e1ff00);
        }

        35% {
            background: linear-gradient(210deg, #7f00ff, #ff00a5, #ff1745, #ffad00, #e1ff00);
        }

        40% {
            background: linear-gradient(240deg, #7f00ff, #ff00a5, #ff1745, #ffad00, #e1ff00);
        }

        45% {
            background: linear-gradient(270deg, #7f00ff, #ff00a5, #ff1745, #ffad00, #e1ff00);
        }

        50% {
            background: linear-gradient(300deg, #7f00ff, #ff00a5, #ff1745, #ffad00, #e1ff00);
        }

        55% {
            background: linear-gradient(330deg, #7f00ff, #ff00a5, #ff1745, #ffad00, #e1ff00);
        }

        60% {
            background: linear-gradient(360deg, #7f00ff, #ff00a5, #ff1745, #ffad00, #e1ff00);
        }

        65% {
            background: linear-gradient(390deg, #7f00ff, #ff00a5, #ff1745, #ffad00, #e1ff00);
        }

        70% {
            background: linear-gradient(420deg, #7f00ff, #ff00a5, #ff1745, #ffad00, #e1ff00);
        }

        75% {
            background: linear-gradient(450deg, #7f00ff, #ff00a5, #ff1745, #ffad00, #e1ff00);
        }

        80% {
            background: linear-gradient(480deg, #7f00ff, #ff00a5, #ff1745, #ffad00, #e1ff00);
        }

        85% {
            background: linear-gradient(510deg, #7f00ff, #ff00a5, #ff1745, #ffad00, #e1ff00);
        }

        90% {
            background: linear-gradient(540deg, #7f00ff, #ff00a5, #ff1745, #ffad00, #e1ff00);
        }

        95% {
            background: linear-gradient(570deg, #7f00ff, #ff00a5, #ff1745, #ffad00, #e1ff00);
        }

        100% {
            background: linear-gradient(600deg, #7f00ff, #ff00a5, #ff1745, #ffad00, #e1ff00);
        }
    }
}