.Button {
    border: 2px solid #393d47;
    cursor: pointer;
    height: 40px;
    width: 100px;
    background-color: black;
    position: relative;
    box-shadow: 0 0 0 #e595ff, 0 0 48px rgba(130, 26, 250, 0.5);
    overflow: hidden;
    transition: all 0.3s;

    p {
        font-weight: 700;
        font-size: 17px;
    }

    .btnCont {
        position: absolute;
        transition: top 0.5s;

        .txt {
            width: 100px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;

            p {
                margin-bottom: 5px;
            }
        }

        .icon {
            display: flex;
            width: 100px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;

            >svg {
                fill: red;
                font-size: 18px;
                margin-bottom: 3px;
            }

            p {
                margin-left: 5px;
                margin-bottom: 3px;
            }
        }
    }

    .open {
        top: -40px;
    }

    .close {
        top: 0px;
    }
}

.btnBorderAnimation {
    position: relative;
        width: 105px;
        height: 45px;
        display: flex;
        align-items: center;
        justify-content: center;

    &::before {
        content: '';
        width: 105px;
        height: 45px;
        position: absolute;
        top: 0;
        left: 0;
        background: rgb(205, 50, 50);
        background: url('https://i.gifer.com/1uUd.gif');
        background-size: cover;
        transition: filter 0.2s;
    }
    &:hover::before {
        filter: blur(15px);
    }
}