.Button {
    border: 2px solid #393d47;
    cursor: pointer;
    height: 40px;
    width: 100px;
    background-color: transparent;
    position: relative;
    box-shadow: 0 0 0 #e595ff, 0 0 48px rgba(130, 26, 250, 0.5);
    
    // display: flex;

    overflow: hidden;
    // border: none;
    // border-radius: 10px;
    // display: flex;
    // align-items: center;
    // justify-content: space-evenly;
    // svg {
    //     fill: black;
    //     font-size: 25px;
    // }
    // transition: width 0.3s;
    p {
        // color: #FFBF26;
        // padding-inline: 15px;
        font-weight: 500;
        font-size: 17px;
    }

    // .btnCont {
    //     display: flex;
    .btnCont {
        position: absolute;
        transition: top 0.5s;
        .txt {
            // border-bottom: 1px solid rgb(207, 207, 207);
            // display: flex;
            width: 100px;
            height: 40px;
            // position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            p {
                // position: absolute;
                // top: 50%;
                // left: 50%;
                // transform: translate(-50%, -50%);
                // color: #e595ff;
                margin-bottom: 5px;
            }
        }
        .icon {
            // border: 1px solid greenyellow;
            display: flex;
            width: 100px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            >svg {
                fill: red;
                font-size: 18px;
                margin-bottom: 3px;
            }
            p {
                margin-left: 5px;
                margin-bottom: 3px;
            }
        }
    }
    .open {
        top: -40px;
    }
    .close {
        top: 0px;
    }

    // }
}