.hiddenCatagory {
    border: none;
    top: 0;
    right: -200px;
}

.visibleCatagory {
    top: 0;
    right: 0;
    width: 300px;
    overflow-y: auto;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.CatagorySection {
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(15px);
    padding-inline: 20px;
    position: fixed;
    height: 100dvh;
    width: 200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    overflow-y: hidden;
    z-index: 9;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;

    >h2 {
        padding-block: 15px;
        font-family: "Victor Mono", monospace;
    }

    >.catagory-data {
        overflow-y: auto;

        &::-webkit-scrollbar {
            display: none;
        }
    }

    p {
        margin: 15px;
        margin-right: 0;
        width: fit-content;
        cursor: pointer;
        color: rgb(135, 135, 135);
        -webkit-transition: -webkit-transform 0.2s;
        transition: -webkit-transform 0.2s;
        -o-transition: transform 0.2s;
        transition: transform 0.2s;
        transition: transform 0.2s, -webkit-transform 0.2s;

        &:hover {
            -webkit-transform: scale(1.1);
            -ms-transform: scale(1.1);
            transform: scale(1.1);
        }
    }
}