.ContentSection {
    padding-top: 50px;
    >.bottomOverlay {
        position: fixed;
        top: 50px;
        
        width: 100%;
        
        z-index: 2;
    }
    >.overlay {
        height: 200px;
        position: relative;
        pointer-events: none;
        z-index: 3;
    }
}