@import './Misc.scss';

footer {
    margin-top: 50px;
    padding-inline: $inlinePadding;
    color: black;
    height: 180px;
    width: 100%;
    border-top: 1px solid #1b1e23;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;

    @media screen and (max-width:900px) {
        padding-inline: 20px;
    }

    >.logoImg {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;

        >h1 {
            font-family: 'Victor Mono', monospace;
        }
    }

    >.icons {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: end;
        -ms-flex-align: end;
        align-items: flex-end;

        @media screen and (max-width:524px) {
            width: 100%;
        }

        svg {
            font-size: 35px;
            margin: 10px;
            fill: gray;

            &:hover {
                fill: salmon;
            }
        }

        .heart {
            &:hover {
                fill: salmon;
            }
        }

        .black {
            &:hover {
                fill: rgb(0, 0, 0);
            }
        }

        .white {
            &:hover {
                fill: rgb(255, 255, 255);
            }
        }

        p {
            text-align: right;

            >a {
                text-decoration: none;
            }
        }
    }
}