@import './Misc.scss';

header {
    height: 60px;
    width: 100%;
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-inline: $inlinePadding;
    -webkit-box-shadow: rgba(0, 0, 0, 0.034) 0px 5px 15px;
    box-shadow: rgba(0, 0, 0, 0.034) 0px 5px 15px;
    z-index: 5;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    -webkit-transition: all 0.1s;
    -o-transition: all 0.1s;
    transition: all 0.1s;

    @media screen and (max-width:900px) {
        padding-inline: 20px;
    }

    >.logo {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        cursor: pointer;

        >p {
            font-family: 'Victor Mono', monospace;
        }
    }

    >.btns {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;

        >.themeSwitcher {
            position: relative;
            height: 40px;
            width: 40px;
            margin-right: 20px;

            @media screen and (max-width: 720px) {
                margin-right: 0px;
            }

            >svg {
                font-size: 30px;
                position: absolute;
                top: 50%;
                left: 50%;
                -webkit-transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
                cursor: pointer;

                &:nth-child(1) {
                    fill: #ffffff;
                }

                &:nth-child(2) {
                    fill: black;
                }
            }
        }

        .btnBorderAnimation {
            &::before {
                border: none;
                border-radius: 10px;
            }

            button {
                border: none;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: space-evenly;
                -ms-flex-pack: space-evenly;
                justify-content: space-evenly;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                border-radius: 10px;

                p {
                    font-size: 15px;
                }

                >svg {
                    font-size: 25px;
                }
            }
        }

    }
}
.contribute {
    display: none;
    background: rgba(0, 0, 0, 0.568);
    position: fixed;
    top: 0;
    left: 0;
    // transform: translate(-50%,-50%);
    z-index: 5;
    >div {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        >.btnBorderAnimation {
            margin-block: 10px;
            &::before {
            border-radius: 10px;
            }
            button {
                border-radius: 10px;
            }
        }
    }
}
.visible {
    display: block;
    height: 100vh;
    width: 100vw;
}