.Heart {
    height: 50px;
    width: 50px;
    position: fixed;
    top: 90dvh;
    right: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: rotate 5s infinite linear;
    backdrop-filter: blur(2px);
    z-index: 7;
    cursor: pointer;

    >svg {
        font-size: 25px;
        // fill: #fa2a55;
        fill: red;
        animation: reverseRotate 5s infinite linear;
    }

    &:hover {
        animation: none;

        >svg {
            animation: shake 0.2s linear;
            animation-iteration-count: calc(2);
        }
    }
}