.heroSection {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 20px;
    height: 170px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    >h1 {
        font-size: 3rem;
        background-clip: text;
        -moz-background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        background-size: cover;
    }
    >p {
        font-family: 'Caveat', cursive;
        font-weight: 600;
        font-size: 1.5rem;
        letter-spacing: 1px;
        @media screen and (max-width:550px) {
            font-size: 1rem;
            font-weight: 400;
        }
    }
}