@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500&display=swap');
.heroSection {
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    >h1 {
        // font-family: 'Caveat', cursive;
        // font-family: 'Victor Mono', monospace;
        font-size: 3rem;
        background-clip: text;
        -moz-background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        background-size: cover;
    }
    >p {
        font-family: 'Caveat', cursive;
        // font-family: 'Victor Mono', monospace;
        font-weight: 600;
        font-size: 1.5rem;
        letter-spacing: 1px;
        // background: linear-gradient(90.61deg,#ffc700 6.12%,#39dd7b 36.76%,#22a2ff 74.26%,#a865ff 107.53%);
        // background-clip: text;
        // -moz-background-clip: text;
        // -webkit-background-clip: text;
        // color: transparent;
        // background-size: cover;
        @media screen and (max-width:550px) {
            font-size: 1rem;
            font-weight: 400;
        }
    }
}