$inlinePadding: 100px; 

.LightBtn {
    background: white;
}
// .DarkBtn { 
// }
.headerInDarkMode {
    backdrop-filter: blur(5px);
}
.headerInLightMode {
    backdrop-filter: blur(4px);
}
.sunInDarkMode {
    display: none;
}
.moonInDarkMode {
    display: none;
}
.darkContainer {
    background-color: #070709;
}
.lightContainer {
    background-color: white;
}
.textInDarkMode {
    color: rgba(255, 255, 255, 0.849);
}
.h1InDarkMode {
    background: url('https://i.gifer.com/3OhBA.gif');
}
.h1InLightMode {
    background: url('https://i.gifer.com/8VvO.gif');
}
.catagoryInDark {
    border: 1px solid #25292f;
    box-shadow: rgba(255, 253, 253, 0.16) 0px 1px 4px;
}
.catagoryInLight {
    border: 1px solid transparent;
    box-shadow: rgba(0, 0, 0, 0.123) 0px 5px 15px;
}
.cardInDark {
    background: #14181a;
    border: 1px solid #25292f;
    box-shadow: rgba(255, 253, 253, 0.16) 0px 1px 4px;
}
.cardInLight {
    background: #f0f6fc;
    border: 1px solid transparent;
    box-shadow: rgba(0, 0, 0, 0.123) 0px 5px 15px;
}
.lightHeart {
    border: 2px dashed #000000;
}
.darkHeart {
    border: 2px dashed #ffffff;
}
