@import './Misc.scss';

.ResultSection {
    position: relative;
    padding-inline: $inlinePadding;
    padding-bottom: 25px;
    z-index: 3;
    margin-top: 10px;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;

    >h1 {
        margin-bottom: 20px;
        font-size: 2.5rem;
        font-weight: 400;

        @media screen and (max-width:900px) {
            padding-left: 20px;
        }

        @media screen and (max-width:700px) {
            font-size: 2.2rem;
        }
    }

    >.results {
        position: relative;
        -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
        justify-content: space-evenly;
        display: -ms-grid;
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(auto-fit, min(340px));

        @media screen and (max-width:720px) {
            row-gap: 30px;
        }

        >.paginationDiv {
            position: absolute;
            bottom: -60px;
            left: 50%;
            -webkit-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
            transform: translateX(-50%);
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;

            >.box {
                height: 12px;
                width: 12px;
                background: gray;
                border: none;
                border-radius: 50%;
                margin-inline: 5px;
                cursor: pointer;
                -webkit-transition: all 0.3s;
                -o-transition: all 0.3s;
                transition: all 0.3s;
            }

            .glow {
                background: #cbe6ef;
                width: 35px;
                height: 12px;
                border-radius: 10px;
            }
        }
    }

    @media screen and (max-width:900px) {
        padding-inline: 0px;

    }

    @media screen and (max-width:760px) {
        padding-inline: 10px;

    }
}