@import './Misc.scss';

.ResultSection {
    position: relative;
    padding-inline: $inlinePadding;
    padding-bottom: 25px;
    z-index: 3;
    margin-top: 10px;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;

    >.name-filter {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        // border: 1px solid green;
        margin-bottom: 20px;

        >h1 {
            font-size: 2.5rem;
            font-weight: 400;

            @media screen and (max-width:900px) {
                padding-left: 20px;
            }

            @media screen and (max-width:700px) {
                font-size: 2.2rem;
            }
        }

        >.filterDiv {
            // border: 1px solid yellow;
            padding-block: 10px;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            width: 340px;
            @media screen and (max-width: 511px) {
                width: 100%;
            }
            .filterSelect {
                display: flex;
                flex-direction: column;
                >label {
                    // color: white;
                    margin-bottom: 5px;
                    font-weight: 600;
                }
                >select {
                    border: 2px solid #393d47;
                    background: transparent;
                    border-radius: 7px;
                    height: 35px;
                    font-size: 17px;
                    font-weight: 600;
                    option {
                        border: none;
                        font-size: 19px;
                    }
                }
            }
        }
    }

    >.results {
        position: relative;
        -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
        justify-content: space-evenly;
        display: -ms-grid;
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(auto-fit, min(340px));
        padding-bottom: 50px;

        @media screen and (max-width:720px) {
            row-gap: 30px;
        }
    }
    >.paginationDiv {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        // position: absolute;
        // bottom: -10px;
        // left: 50%;
        // transform: translateX(-50%);
    
        >.box {
            height: 12px;
            width: 12px;
            background: gray;
            border: none;
            border-radius: 50%;
            margin-inline: 5px;
            cursor: pointer;
            -webkit-transition: all 0.3s;
            -o-transition: all 0.3s;
            transition: all 0.3s;
        }
    
        .glow {
            background: #cbe6ef;
            background: orange;
            width: 35px;
            height: 12px;
            border-radius: 10px;
        }
    
        svg {
            font-size: 35px;
            margin-inline: 5px;
            border-radius: 5px;
            cursor: pointer;
    
            &:hover {
                fill: orange;
            }
        }
    }

    @media screen and (max-width:900px) {
        padding-inline: 0px;

    }

    @media screen and (max-width:760px) {
        padding-inline: 10px;

    }
}