.searchingContainer {
    // border: 1px solid brown;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

    >.srch {
        display: flex;
        // border: 1px solid yellow;
        margin-right: 20px;
        box-shadow: 0 0 0 #e595ff, 0 0 48px rgba(130, 26, 250, 0.5);
        border-radius: 10px;

        >input {
            width: 500px;
            height: 40px;
            font-size: 25px;
            padding-inline: 15px;
            background: transparent;
            border: 2px solid #393d47;
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;

            &:focus {
                outline: 2px solid #646d7d;
            }
        }

        .Button {
            width: 41px;
            border: 2px solid #393d47;
            border-left: none;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
            background-color: transparent;

            >svg {
                font-size: 20px;
            }

            &:hover {
                border: 2px solid #646d7d;

                >svg {
                    font-size: 22px;
                    fill: #646d7d;
                    // transform: rotate(25deg);
                    animation: shake 0.2s linear;
                    transition: all 0.3s;
                }
            }
        }
    }
    >div>button {
        border-radius: 10px;
        background-color: transparent;
    }
}