* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: gray;
  font-family: 'Roboto', sans-serif;
}
body {
  overflow-x: hidden;
}
.main {
  min-height: 100dvh;
  width: 100%;
  position: relative;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
section {
  padding-top: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
::-webkit-scrollbar {
  width: 1px;
}
 
::-webkit-scrollbar-track {
  background: black;
}
 
::-webkit-scrollbar-thumb {
  background-color: #ffbf26;
}